.date-element-container{
    display: flex;
    flex-direction: column;
    width: 500px;
    
    
    background-color: greenyellow;
    .row{
        display: flex;
        flex-direction: row;
        p{
            font-weight: bold;
        }
        .msg{
            p{
                font-size: 30px;
            }
        }
        .dates{
            display:flex;
            flex-direction: row;
            p{
                margin-left: 15px;
                font-size: 25px;
                text-decoration: underline;
            }
        }
        .space{
            min-width: 50px;
            max-width: 50%;
            min-height: 50px;
            margin: 0;
        }
    }
    
}