.date-element-container{
    margin-bottom: 10px;
    margin-right: 10px;
    width: 500px;
    background-color: greenyellow;
   
    .row{
        display: flex;
        justify-content: space-between;
        padding-right: 20px;
        padding-left: 20px;
        // flex:1;
        div{
            max-width: 50%;
        }
        p{
            font-size: 18px;
            font-weight: bold;
           text-align: left;
           
           
        }
    }    
}